<!DOCTYPE html>
{%load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Homepage</title>
  </head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <!-- for icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="{%static 'css/mystyles.css'%}">
  <link rel="stylesheet" href="{%static 'css/shadows.css'%}">
  <body>

     <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" <a  href="https://www.thesparksfoundationsingapore.org/">SPARK</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav">


        <li class="nav-item">
          <a class="nav-link" href="{% url 'customers' %}">CUSTOMERS</a>
        </li>
      </ul>
    </div>
  </nav>


<div id="holder" style="padding-top:200px;">
    <div  id="body" >
      <div class="container center"  >
        <h1 class='display-2'>Welcome to the HomePage</h1>
        <h1 class="display-4">Go to the customers page for different services</h1>
      </div>
    </div>

    <footer class="site-footer">
        <div class="container">
            <div class="row">
               <div class="col-md-8 col-sm-6 col-xs-12"  style="padding-top:5px;">
                 <p style="font-size:18px;">Project made by <a href="https://www.linkedin.com/in/tanveer-ahmed-589055112/">Tanveer Ahmed</a> for GRIPMarch21.</p>
               </div>
               <div class="col-md-4 col-sm-6 col-xs-12" style="padding-top:5px;">
                 <ul class="social-icons">
                   <li><a class="facebook" href="https://www.facebook.com/thesparksfoundation.info/"><i class="fa fa-facebook"></i></a></li>
                   <li><a class="twitter" href="https://twitter.com/tsfsingapore?lang=en"><i class="fa fa-twitter"></i></a></li>
                   <li><a class="linkedin" href="https://www.linkedin.com/company/the-sparks-foundation/?originalSubdomain=in"><i class="fa fa-linkedin"></i></a></li>
                 </ul>
               </div>
             </div>
           </div>
     </footer>
</div>
</body>
</html>
