<!DOCTYPE html>
{%load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Homepage</title>
  </head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <!-- for icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{%static 'css/mystyles.css'%}">
  <link rel="stylesheet" href="{%static 'css/shadows.css'%}">
  <!-- for fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;900&family=Permanent+Marker&display=swap" rel="stylesheet">

<body>
<div id="holder" >
  <nav class="navbar navbar-dark navbar-expand-lg effect7 font-orbitron" >
    <a class="navbar-brand" href="https://www.thesparksfoundationsingapore.org/" style="color:white;"> <b>SPARK</b> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" style="color:white;" href="{% url 'customers' %}">  CUSTOMERS</a>
        </li>
      </ul>
    </div>
  </nav>

  <div  id="body" class="font-orbitron" >
    <div class="container-fluid padding  white  text-center">
        <div class="welcome text-center ">
          <h1 class="display-4">Built with Django</h1>
            <hr>
        </div>
        <div class=" welcome col-12">
            <p class="lead">This is a basic prototype of  a Banking System built with HTML,CSS,BOOSTRAP-4 and Django.
              <br> Proceed To The Customer Section To Get Started.</p>
        </div>
    </div>
    </div>
    <footer class="site-footer shadow">
        <div class="container">
            <div class="row">
               <div class="col-md-8 col-sm-6 col-xs-12"  style="padding-top:5px;">
                 <p style="font-size:20px;">Project made by <a style="color:white;" href="https://www.linkedin.com/in/tanveer-ahmed-589055112/"> <u> Tanveer Ahmed </u></a> for GRIPMarch21.</p>
               </div>
               <div class="col-md-4 col-sm-6 col-xs-12" style="padding-top:5px;">
                 <ul class="social-icons">
                   <li><a class="facebook" href="https://www.facebook.com/thesparksfoundation.info/"><i class="fa fa-facebook"></i></a></li>
                   <li><a class="twitter" href="https://twitter.com/tsfsingapore?lang=en"><i class="fa fa-twitter"></i></a></li>
                   <li><a class="linkedin" href="https://www.linkedin.com/company/the-sparks-foundation/?originalSubdomain=in"><i class="fa fa-linkedin"></i></a></li>
                 </ul>
               </div>
             </div>
           </div>
     </footer>
</div>
</body>
</html>
